
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/main_login.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Javascript/jquery-2.1.4.min.js")"></script>
    <title>学生信息管理系统登录</title>
    <script type="text/javascript">
        function getcode() {
            //alert("getcode");
            var getimagecode = document.getElementById("showcode");
            getimagecode.src = "/Account/GetRandomCode?" + Math.random();
        }

        function login(number, password) {

            var Expression = /^(t[\0-9]{9})|([\0-9]{11})$/;
            var objExp = new RegExp(Expression);
            if (objExp.test(number)) {
                //alert("用户名格式正确！");
                document.getElementById("form1").submit();
            }
            else {
                alert("用户名格式错误！");
                document.getElementById("number").focus;
            }
        }

        function loginchack() {
            var number = document.getElementById("number").value;
            var password = document.getElementById("password").value;
            var code = document.getElementById("code").value;
            
            if (number == "" || password == "" || code == "") {
                alert("请填写全部信息后再试！");
            }
            else
            {
                $.ajax({
                    url: '/Account/ChackRandomCode',
                    data: { code: code },
                    asyn: false,
                    success: function (data) {
                        //alert(data);
                        if (data=="true") {
                            login(number, password);
                        }
                        else {
                            alert("验证码错误！！")
                        }
                    }
                });
            }
        }

    </script>
</head>

<body>
    @{
        string id = Request.Cookies["id"] != null ? Request.Cookies["id"].Value : "";
        string pwd = Request.Cookies["pwd"] != null ? Request.Cookies["pwd"].Value : "";
    }
    <div id="top">
        <div id="logo">
            <img src="@Url.Content("~/Images/main_top.png")" />
        </div>
        <div id="admin">
            <a href="@Url.Content("~/Account/Admin")">【管理员登陆】</a>
        </div>
    </div>
    <div id="main">
        <div id="login">
            <form action="@Url.Action("UserLogin","Account")" method="post" id="form1" class="form_login1">
                <h2>用户登录</h2>
                <p id="numberdiv">
                    <text>用户名：</text>
                    <input name="number" type="text" maxlength="20" placeholder="请输入学号或教师号" value="@id" id="number" class="input_txt" />
                </p>
                <p id="passworddiv">
                    <text>密　码：</text>
                    <input name="password" type="password" maxlength="16" placeholder="请输入密码" value="@pwd" id="password" class="input_txt" />
                </p>
                <p id="randomcodediv">
                    <text>验证码：</text>
                    <input name="code" type="text" maxlength="5" placeholder="请输入验证码" id="code" class="input_chack" style="text-transform:uppercase;" />
                    <img id="showcode" src="~/Images/randomcode.png" onclick="getcode()" alt="验证码" style="vertical-align:middle;" width="80" height="30" />
                </p>
                <p class="form_sub">
                    <input name="RecordMe" type="checkbox" checked="checked" />
                    <text>记住账号信息</text>
                </p>
                <p class="form_sub">
                    <input class="button_login" name="Login" type="button" onclick="loginchack()" value="登录" />
                    <a href="#">忘记密码?</a>
                </p>
            </form>
        </div>
    </div>
    <div id="footer">
        <span>Copyright© 2015-2016 <a target="_blank" href="http://tianyu666.net">tianyu666.net</a>. All Rights Reserved.<a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">辽ICP备15016458号</a></span>
    </div>
    <script>getcode();</script>
</body>
</html>
