<!DOCTYPE html>

<html>

<head>
    <link href="@Url.Content("~/Content/main_global.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @{
        StuSiteMVC.Models.SLogin S = new StuSiteMVC.Models.SLogin();
        StuSiteMVC.Models.TLogin T = new StuSiteMVC.Models.TLogin();
        S = null;
        T = null;
        string college = "";
        string type = "";
        string name = "";
        if (Session["user"] != null)
        {
            try
            {
                S = Session["user"] != null ? (StuSiteMVC.Models.SLogin)Session["user"] : null;
            }
            catch
            {
                T = Session["user"] != null ? (StuSiteMVC.Models.TLogin)Session["user"] : null;
            }
            if (S != null)
            {
                college = S.SNumber.SCollege.CollegeName;
                type = "学生";
                name = S.SNumber.SName;
            }
            else if (T == null)
            {
                college = T.TNumber.TCollege.CollegeName;
                type = T.Role.RoleName;
                name = T.TNumber.TName;
            }
        }
    }
    <div id="head">
        <div id="top_left">
            @{
                if (S == null && T == null)
                {
                    <!--未登录状态-->
                }
                else
                {
                    <!--登录状态-->
                    <text>来自 @college 的 @type @name 欢迎您使用本系统！</text>
                }
            }
        </div>
        <ul id="top_right">
            @{
                if (S == null && T == null)
                {
                    <!--未登录状态-->
                    <li>【请<a href="@Url.Content("~/Account/Index")">登录</a>后再进行操作】</li>
                }
                else
                {
                    <!--登录状态-->
                    <li><a href="#">【个人信息】</a></li>
                    <li><a href="@Url.Content("~/Account/Logout")">【退出登录】</a></li>
                }
            }
        </ul>
    </div>

    <div id="nav">
        <ul id="mainnav">
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
        </ul>
    </div>

    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <span>Copyright© 2015-2016 <a target="_blank" href="http://tianyu666.net">tianyu666.net</a>. All Rights Reserved.<a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">辽ICP备15016458号</a></span><br />
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1258928019'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258928019%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>
