
@{
    ViewBag.Title = "学生信息管理系统";
    Layout = "~/Views/Shares/_LayoutPage1.cshtml";
}
<link href="@Url.Content("~/Content/main_index.css")" rel="stylesheet" />
<script type="text/javascript">
    //菜单拉起
    function small(o) {
        var id = o.parentNode.parentNode.id
        //alert(id);
        id = id + "_display";
        //alert(id);
        if (document.getElementById(id).style.display == "") {
            document.getElementById(id).style.display = "none";
        }
        else {
            document.getElementById(id).style.display = ""
        }
    }

    function getmessage() {
        //alert("start");
        //alert("getipmessage");
        getipmessage();
        //alert("getdepartment");
        getdepartment();
        //alert("gettopnotice");
        gettopnotice();
        //alert("getnormalnotice");
        getnormalnotice();
        //alert("gettopnews");
        gettopnews();
        //alert("getnormalnews");
        getnormalnews();
        //alert("end");
    }

    function getipmessage() {
        $.ajax({
            url: '/Home/GetIPMessage',
            success: function (data) {
                //alert(data);
                var ipmessage = $.parseJSON(data);
                //alert(ipmessage.errMsg);
                if (ipmessage.errMsg == "success") {
                    //alert(ipmessage.retData.ip);
                    //alert(ipmessage.retData.country);
                    //alert(ipmessage.retData.province);
                    //alert(ipmessage.retData.district);
                    //alert(ipmessage.retData.carrier);
                    addipmessage(ipmessage.retData.ip, ipmessage.retData.country, ipmessage.retData.province, ipmessage.retData.city, ipmessage.retData.district, ipmessage.retData.carrier);
                    getareaid(ipmessage.retData.province, ipmessage.retData.city, ipmessage.retData.district);
                }
                else {
                    document.getElementById("weather_loading").style.display = "none";
                    $("#showipmessage").append("IPMessage加载失败");
                }
            }
        });
    }

    function getareaid(province, city, district) {
        //alert("getareaid_start");
        var area_id;
        $.ajax({
            url: '/Home/GetAreaid/',
            data: { district: encodeURI(district) },
            success: function (data) {
                //alert(data);
                var area = $.parseJSON(data);
                //alert(area.errMsg);
                if (area.errMsg == "success") {
                    //alert(area.retData.length);
                    for (var i = 0; i < area.retData.length; i++) {
                        if (area.retData[i].province_cn == province && area.retData[i].district_cn == city && area.retData[i].name_cn == district) {
                            area_id = area.retData[i].area_id;
                        }
                        else {
                            area_id = "000000000";
                        }
                    }
                    if (area_id == "000000000") {
                        document.getElementById("weather_loading").style.display = "none";
                        $("#showweather").append("<h2>暂无该地区天津信息！</h2>");
                    }
                    else {
                        getweather(area_id);
                    }
                }
                else {
                    document.getElementById("weather_loading").style.display = "none";
                    $("#weather_display").append("<h2>" + area.errMsg + "</h2>");
                }
            }
        });
    }

    function getweather(id) {
        //alert("getweather_start");
        $.ajax({
            url: '/Home/GetWeather/',
            data: { id: id },
            success: function (data) {
                //alert(data);
                var weather = $.parseJSON(data);
                //alert(weather.errMsg);
                if (weather.errMsg == "success") {
                    //alert(weather.retData);
                    addweather(weather.retData.weather, weather.retData.temp, weather.retData.l_tmp, weather.retData.h_tmp, weather.retData.WD, weather.retData.WS, weather.retData.date, weather.retData.time);
                    document.getElementById("weather_loading").style.display = "none";
                }
                else {
                    document.getElementById("notice_loading").style.display = "none";
                    $("#showweather").append("<h2>" + weather.errMsg + "</h2>");
                }
            }
        });
    }

    function getdepartment() {
        //alert("getnews_start");
        $.ajax({
            url: '/Home/GetDepartment',
            success: function (data) {
                //alert(data);
                var department = $.parseJSON(data);
                //alert(news.number);
                for (var i = 0; i < department.number ; i++) {
                    //alert(news.listnews[i].title);
                    //alert(news.listnews[i].date);
                    adddepartment(department.departmentlist[i].id, department.departmentlist[i].name);
                }
                document.getElementById("department_loading").text = "加载完成";
                document.getElementById("department_loading").style.display = "none";
            }
        });
    }

    function gettopnotice() {
        $.ajax({
            url: '/Home/GetTopNotice',
            success: function (data) {
                //alert(data);
                if (data == "false") {
                    //alert("false");
                    document.getElementById("top_notice").style.display = "none";
                }
                else {
                    //alert("true");
                    document.getElementById("top_notice").style.display = "";
                    var notice = $.parseJSON(data);
                    //alert("top");
                    addtopnotice(notice.title, notice.belong, notice.date);
                }
            }
        });
    }

    function getnormalnotice() {
        for (var i = 0; i < 10; i++) {
            $("#normal_notice").remove();
        }
        document.getElementById("notice_loading").style.display = "";
        var department = document.getElementById("select1").value;
        //alert(department);
        $.ajax({
            url: '/Home/GetSelectNotice/',
            data: { department: department },
            success: function (data) {
                //alert(data);
                var notice = $.parseJSON(data);
                //alert(notice.number);
                for (var i = 0; i < notice.number && i < 10 ; i++) {
                    addnormalnotice(notice.listnotice[i].title, notice.listnotice[i].belong, notice.listnotice[i].date);
                }
                document.getElementById("notice_loading").style.display = "none";
            }
        });
    }

    function gettopnews() {
        //alert("gettopnews_start");
        $.ajax({
            url: '/Home/GetTopNews',
            success: function (data) {
                //alert(data);
                if (data == "false") {
                    document.getElementById("top_news").style.display = "none";
                }
                else {
                    //alert("true1");
                    document.getElementById("top_news").style.display = "";
                    //alert("true2");
                    var news = $.parseJSON(data);
                    //alert("true3");
                    //alert("id" + news.id);
                    //alert("title" + news.title);
                    //alert("date" + news.date);
                    //alert("publisher" + news.publisher);
                    //alert("hits" + news.hits);
                    addtopnews(news.title, news.date);
                }
            }
        });
    }

    function getnormalnews() {
        //alert("getnews_start");
        $.ajax({
            url: '/Home/GetNews',
            success: function (data) {
                //alert(data);
                var news = $.parseJSON(data);
                //alert(news.number);
                for (var i = 0; i < news.number && i < 10 ; i++) {
                    //alert(news.listnews[i].title);
                    //alert(news.listnews[i].date);
                    addnormalnews(news.listnews[i].title, news.listnews[i].date);
                }
                document.getElementById("news_loading").style.display = "none";
            }
        });
    }

    function addipmessage(ip, country, province, city, district, carrier) {
        //alert("addipmessage");
        //var message = "ＩＰ地址：" + ip + "<br />国　　家：" + country + "<br />省　　份：" + province + "<br />城　　市：" + city + "<br />地　　区：" + district + "<br />运 营 商：" + carrier + "<br />";
        var message = "";
        message += "<b>ＩＰ地址：" + ip + "</b><br /><b>国　　家：" + country + "</b><br />";
        message += "<b>省　　份：" + province + "</b><br /><b>城　　市：" + city + "</b><br />";
        message += "<b>地　　区：" + district + "</b><br /><b>运 营 商：" + carrier + "</b><br />";
        //alert(message);
        $("#showipmessage").append(message);
    }

    function addweather(weather, temp, l_tmp, h_tmp, WD, WS, date, time) {
        weather = "<b>天气情况：" + weather + "</b><br /><b>当前气温：" + temp + "</b><br /><b>最低气温：" + l_tmp + "</b><br /><b>最高气温：" + h_tmp + "</b><br /><b>风　　向：" + WD + "</b><br /><b>风　　力：" + WS + "</b><br /><b>发布时间：" + date + "　" + time + "</b><br />";
        $("#showweather").append(weather);
    }

    function adddepartment(id, name) {
        var department = "<option value='" + id + "'>" + name + "</option>";
        $("#select1").append(department);
    }

    function addtopnotice(title, belong, date) {
        var topnotice = "<img class='a_img' src='@Url.Content("~/Images/main_istop.png")' /><a class='notice_title' href='#'>" + title + "</a><div id='notice_date'>" + date + "</div><div id='notice_belong'>" + belong + "</div>";
        $("#top_notice").append(topnotice);
    }

    function addnormalnotice(title, belong, date) {
        var notice = "<div id='normal_notice'><img class='a_img' src='@Url.Content("~/Images/main_right.png")' /><a class='notice_title' href='#'>" + title + "</a><div id='notice_date'>" + date + "</div><div id='notice_belong'>" + belong + "</div></div>";
        $("#normal_notice_list").append(notice);
    }

    function addtopnews(title, date) {
        var topnews = "<img class='a_img' src='@Url.Content("~/Images/main_istop.png")' /><a class='news_title' href='#'>" + title + "</a><span class='news_time'>" + date + "</span>";
        $("#top_news").append(topnews);
    }

    function addnormalnews(title, date) {
        var news = "<div id='normal_news'><img class='a_img' src='@Url.Content("~/Images/main_right.png")' /><a class='news_title' href='#'>" + title + "</a><span class='news_time'>" + date + "</span></div>";
        $("#normal_news_list").append(news);
    }
</script>

@{
    #region  个人信息显示
    StuSiteMVC.Models.SLogin S = new StuSiteMVC.Models.SLogin();
    StuSiteMVC.Models.TLogin T = new StuSiteMVC.Models.TLogin();
    string name = "";
    string number = "";
    string type = "";
    string college = "";
    DateTime dt;
    string lastdate = "";
    string lasttime = "";
    string lastip = "";
    string url = "";
    if (Session["user"] != null)
    {
        try
        {
            S = Session["user"] != null ? (StuSiteMVC.Models.SLogin)Session["user"] : null;
        }
        catch
        {
            S = null;
            T = Session["user"] != null ? (StuSiteMVC.Models.TLogin)Session["user"] : null;
        }
        if (S != null)
        {
            name = S.SNumber.SName;
            number = S.SNumber.SNumber;
            type = "学生";
            college = S.SNumber.SCollege.CollegeName;
            dt = Convert.ToDateTime(S.LastTime);
            lastdate = dt.ToShortDateString().ToString();
            lasttime = dt.ToShortTimeString().ToString();
            lastip = S.LastIP;
            url = "/Images/Personal/" + S.SNumber.SPicAddress.Trim() + ".jpg";
        }
        else if (T != null)
        {
            name = T.TNumber.TName;
            number = T.TNumber.TNumber;
            type = T.Role.RoleName;
            college = T.TNumber.TCollege.CollegeName;
            dt = Convert.ToDateTime(T.LastTime);
            lastdate = dt.ToShortDateString().ToString();
            lasttime = dt.ToShortTimeString().ToString();
            lastip = T.LastIP;
            url = "/Images/Personal/" + T.TNumber.TPicAddress.Trim() + ".jpg";
        }
    }
    #endregion
}
<div id="main_left">
    <div id="pi">
        <div id="left_nav">个人信息</div>
        @{
            if (@name == "")
            {
                <div id="pi_pic"><img src="~/Images/Personal/default.jpg" /></div>
                <div id="pi_detail">
                    <text>尚未登录</text>
                </div>
            }
            else
            {
                <div id="pi_pic"><img src="@url" /></div>
                <div id="pi_detail">
                    <text>姓名：@name</text><br />
                    <text>工号：@number</text><br />
                    <text>身份：@type</text><br />
                    <text>部门：@college</text><br />
                    <text>上次登录信息</text><br />
                    <text>日期：@lastdate</text><br />
                    <text>时间：@lasttime</text><br />
                    <text>ＩＰ：@lastip</text><br />
                </div>
            }
        }
    </div>
    <div id="app">
        <div id="left_nav">学生应用</div>
        <div id="app_list">
            <img src="~/Images/app_1.jpg" />
            <h3>学工系统</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_2.jpg" />
            <h3>师生服务</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_3.jpg" />
            <h3>学生评教</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_4.jpg" />
            <h3>选课系统</h3>
        </div>
    </div>
</div>
<div id="main_right">
    <div id="weather">
        <div id="right_nav"><img src="~/Images/main_small.png" onclick="small(this)" />天气预报</div>
        <div id="weather_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="weather_display">
            <div id="showweather">
                <!--json-weather
                天气情况：<br />
                当前气温：<br />
                最低气温：<br />
                最高气温：<br />
                风　　向：<br />
                风　　力：<br />
                发布时间：<br />-->
            </div>
            <div id="showipmessage">
                <!--json-IPmessage
                ＩＰ地址：<br />
                国　　家：<br />
                省　　份：<br />
                城　　市：<br />
                地　　区：<br />
                运 营 商：<br />-->
            </div>
        </div>
    </div>
    <div id="notice">
        <div id="right_nav"><img src="@Url.Content("~/Images/main_small.png")" onclick="small(this)" />学校公告</div>
        <div id="select">
            请选择分类：
            <select id="select1" name="select1" onchange="getnormalnotice()">
                <option value="0">全部公告</option>
            </select>
        </div>
        <div id="notice_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="notice_display">
            <div id="top_notice">
                <!--<img class="a_img" src="@Url.Content("~/Images/main_istop.png")" /><a class="notice_title" href="#">top_notice</a><div id="notice_date">2016-01-01</div><div id="notice_belong">公告类别</div>-->
            </div>
            <div id="normal_notice_list">
                <!--<div id="normal_notice">
                    <img class="a_img" src="@Url.Content("~/Images/main_right.png")" /><a class="notice_title" href="#">normal_notice</a><div id="notice_date">2016-01-01</div><div id="notice_belong">公告类别</div>
                </div>-->
            </div>
            <div id="notice_bottom">
                <img class="notice_more" onclick="" src="~/Images/main_more.png" />
            </div>
        </div>
    </div>
    <div id="news">
        <div id="right_nav"><img src="@Url.Content("~/Images/main_small.png")" onclick="small(this)" />学校新闻</div>
        <div id="news_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="news_display">
            <div id="top_news">
                <!--<img class="a_img" src="@Url.Content("~/Images/main_istop.png")" /><a class="news_title" href="#">top_news</a><span class="news_time">2016/01/01</span>-->
            </div>
            <div id="normal_news_list">
                <!--<div id="normal_news">
                    <img class="a_img" src="@Url.Content("~/Images/main_right.png")" /><a class="news_title" href="#">normal_news</a><span class="news_time">2016/01/01</span>
                </div>-->
            </div>
        </div>
    </div>
</div>
<script>getmessage();</script>
