
@{
    ViewBag.Title = "学生信息管理系统";
    Layout = "~/Views/Shares/_LayoutPage1.cshtml";
}
<link href="@Url.Content("~/Content/main_index.css")" rel="stylesheet" />
<script src="@Url.Content("~/Javascript/main_index.js")"></script>
<script type="text/javascript">
    //菜单拉起
    function small(o) {
        var id = o.parentNode.parentNode.id
        //alert(id);
        id = id + "_display";
        //alert(id);
        if (document.getElementById(id).style.display == "") {
            document.getElementById(id).style.display = "none";
        }
        else {
            document.getElementById(id).style.display = ""
        }
    }

    function getmessage() {
        //alert("start");
        //alert("getipmessage");
        try { getipmessage() } catch (e) { };
        //alert("getdepartment");
        try { getdepartment() } catch (e) { };
        //alert("gettopnotice");
        try { gettopnotice() } catch (e) { };
        //alert("getnormalnotice");
        try { getnormalnotice() } catch (e) { };
        //alert("gettopnews");
        try { gettopnews() } catch (e) { };
        //alert("getnormalnews");
        try { getnormalnews() } catch (e) { };
        //alert("end");
    }

    function openlist(o) {
        //alert(o.id);
        if (o.id == "notice_more") {
            window.open("/Home/ShowList" + "?type=notice&pagesize=20&pageindex=1");
        }
        else {
            window.open("/Home/ShowList" + "?type=news&pagesize=20&pageindex=1");
        }
    }

    function opendetail(o) {
        //alert(o.id);
        //alert(o.className);
        window.open("/Home/ShowDetail" + "?kind=" + o.className + "&id=" + o.id, "_blank");
    }

</script>

@{
    #region  个人信息显示
    StuSiteMVC.Models.SLogin S = new StuSiteMVC.Models.SLogin();
    StuSiteMVC.Models.TLogin T = new StuSiteMVC.Models.TLogin();
    string name = "";
    string number = "";
    string type = "";
    string college = "";
    DateTime dt;
    string lastdate = "";
    string lasttime = "";
    string lastip = "";
    string url = "";
    if (Session["user"] != null)
    {
        try
        {
            S = Session["user"] != null ? (StuSiteMVC.Models.SLogin)Session["user"] : null;
        }
        catch
        {
            S = null;
            T = Session["user"] != null ? (StuSiteMVC.Models.TLogin)Session["user"] : null;
        }
        if (S != null)
        {
            name = S.SNumber.SName;
            number = S.SNumber.SNumber;
            type = "学生";
            college = S.SNumber.SCollege.CollegeName;
            dt = Convert.ToDateTime(S.LastTime);
            lastdate = dt.ToShortDateString().ToString();
            lasttime = dt.ToShortTimeString().ToString();
            lastip = S.LastIP;
            url = "/Images/Personal/" + S.SNumber.SPicAddress.Trim() + ".jpg";
        }
        else if (T != null)
        {
            name = T.TNumber.TName;
            number = T.TNumber.TNumber;
            type = T.Role.RoleName;
            college = T.TNumber.TCollege.CollegeName;
            dt = Convert.ToDateTime(T.LastTime);
            lastdate = dt.ToShortDateString().ToString();
            lasttime = dt.ToShortTimeString().ToString();
            lastip = T.LastIP;
            url = "/Images/Personal/" + T.TNumber.TPicAddress.Trim() + ".jpg";
        }
    }
    #endregion
}
<div id="main_left">
    <div id="pi">
        <div id="left_nav">个人信息</div>
        @{
            if (@name == "")
            {
                <div id="pi_pic"><img src="~/Images/Personal/default.jpg" /></div>
                <div id="pi_detail">
                    <text>尚未登录</text>
                </div>
            }
            else
            {
                <div id="pi_pic"><img src="@url" /></div>
                <div id="pi_detail">
                    <text>姓名：@name</text><br />
                    <text>工号：@number</text><br />
                    <text>身份：@type</text><br />
                    <text>部门：@college</text><br />
                    <text>上次登录信息</text><br />
                    <text>日期：@lastdate</text><br />
                    <text>时间：@lasttime</text><br />
                    <text>ＩＰ：@lastip</text><br />
                </div>
            }
        }
    </div>
    <div id="app">
        <div id="left_nav">学生应用</div>
        <div id="app_list">
            <img src="~/Images/app_1.jpg" />
            <h3>学工系统</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_2.jpg" />
            <h3>师生服务</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_3.jpg" />
            <h3>学生评教</h3>
        </div>
        <div id="app_list">
            <img src="~/Images/app_4.jpg" />
            <h3>选课系统</h3>
        </div>
    </div>
</div>
<div id="main_right">
    <div id="weather">
        <div id="right_nav"><img src="~/Images/main_small.png" onclick="small(this)" />天气预报</div>
        <div id="weather_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="weather_display">
            <div id="showweather">
                <!--json-weather
                天气情况：<br />
                最低气温：<br />
                最高气温：<br />
                风　　向：<br />
                风　　力：<br />
                发布时间：<br />-->
            </div>
            <div id="showipmessage">
                <!--json-IPmessage
                ＩＰ地址：<br />
                国　　家：<br />
                省　　份：<br />
                城　　市：<br />
                地　　区：<br />
                运 营 商：<br />-->
            </div>
        </div>
    </div>
    <div id="notice">
        <div id="right_nav"><img src="@Url.Content("~/Images/main_small.png")" onclick="small(this)" />学校公告</div>
        <div id="select">
            请选择分类：
            <select id="select1" name="select1" onchange="getnormalnotice()">
                <option value="0">全部公告</option>
            </select>
        </div>
        <div id="notice_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="notice_display">
            <div id="top_notice">
                <!--<img class="a_img" src="@Url.Content("~/Images/main_istop.png")" /><a id="1" class="notice_title" href="#">top_notice</a><div class="notice_date">2016-01-01</div><div class="notice_belong">公告类别</div>-->
            </div>
            <div id="normal_notice_list">
                <!--<div class="normal_notice">
                    <img class="a_img" src="@Url.Content("~/Images/main_right.png")" /><a id="2" class="notice_title" href="#">normal_notice</a><div class="notice_date">2016-01-01</div><div class="notice_belong">公告类别</div>
                </div>-->
            </div>
            <div id="notice_bottom">
                <img id="notice_more" onclick="openlist(this);" src="~/Images/main_more.png" />
            </div>
        </div>
    </div>
    <div id="news">
        <div id="right_nav"><img src="@Url.Content("~/Images/main_small.png")" onclick="small(this)" />学校新闻</div>
        <div id="news_loading"><img src="~/Images/loading_1.gif" /></div>
        <div id="news_display">
            <div id="top_news">
                <!--<img class="a_img" src="@Url.Content("~/Images/main_istop.png")" /><a id="1" class="news_title" href="#">top_news</a><span class="news_time">2016/01/01</span>-->
            </div>
            <div id="normal_news_list">
                <!--<div class="normal_news">
                    <img class="a_img" src="@Url.Content("~/Images/main_right.png")" /><a id="2" class="news_title" href="#">normal_news</a><span class="news_time">2016/01/01</span>
                </div>-->
            </div>
            <div id="notice_bottom">
                <img id="news_more" onclick="openlist(this);" src="~/Images/main_more.png" />
            </div>
        </div>
    </div>
</div>
<script>getmessage();</script>
